/* ---------- PROFILE TABS ---------- */

.profile-tabs{
    position: relative;
    display: flex;
    margin: 20px 24px 0;
    padding: 6px;
    border-radius: 18px;
    background: var(--bg-soft);
}

.profile-tab{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px;
    cursor: pointer;
    z-index: 2;
    font-weight: 600;
    user-select: none;
    transition: .25s;
    color: var(--text-muted);
}

.profile-tab.active{
    color: var(--text-main);
}

.profile-tab-bg{
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(50% - 6px);
    height: calc(100% - 12px);
    border-radius: 14px;
    background: var(--bg-card);
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    transition: .25s;
}

.profile-page{
    display: none;
}

.profile-page.active{
    display: block;
}