.partners-container{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100%;
gap:30px;
}

.partners-title{
font-size:24px;
font-weight:700;
}

.partners-buttons{
display:flex;
flex-direction:column;
gap:14px;
width:100%;
}

.partners-btn{

background:#1a1a1d;
border:none;

padding:16px;
border-radius:14px;

color:white;
font-size:16px;
font-weight:600;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

transition:0.2s;
cursor:pointer;

}

.partners-btn:active{
transform:scale(0.96);
}