/* =========================================
СПИСОК ПРИВЫЧЕК
========================================= */

.habits{
display:flex;
flex-direction:column;
gap:16px;
}



/* =========================================
КАРТОЧКА ПРИВЫЧКИ
========================================= */

.habit-card{

background:#1a1a1d;
border-radius:18px;

padding:16px;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

transition:all .25s ease;

}

.habit-card:hover{

transform:scale(1.01);

}


.habit-card{
cursor:default;
}

.habit-main{
cursor:pointer;
}


/* =========================================
ВЕРХНЯЯ ЧАСТЬ КАРТОЧКИ
========================================= */

.habit-main{

display:flex;
justify-content:space-between;
align-items:center;

}



.habit-info{
display:flex;
flex-direction:column;
gap:6px;
}



.habit-name{
font-size:17px;
font-weight:600;
}



.habit-streak{
font-size:13px;
opacity:0.7;
}



/* =========================================
ГРАФИК
========================================= */

.habit-chart{
width:120px;
height:60px;
}

canvas{
width:100% !important;
height:100% !important;
}



/* =========================================
РАСКРЫВАЮЩИЙСЯ БЛОК
========================================= */

.habit-details{

max-height:0;
overflow:hidden;

margin-top:10px;

background:rgba(40,40,45,0.55);

border-radius:14px;

padding:14px;

backdrop-filter:blur(10px);

transition:

max-height 0.45s cubic-bezier(.4,0,.2,1),
opacity 0.35s ease,
transform 0.35s ease;

opacity:0;
transform:translateY(-6px);

}


.habit-details.active{

max-height:350px;

opacity:1;

transform:translateY(0);

}


/* =========================================
СЕТКА ДНЕЙ
========================================= */

.grid{

display:grid;

grid-template-columns:repeat(21,1fr);

gap:6px;

margin-top:10px;

}



.cell{

width:18px;
height:18px;

background:#2b1d16;

border-radius:4px;

}



.cell.active{
background:#ff9d2f;
}



/* =========================================
НИЖНИЙ БЛОК
========================================= */

.habit-footer{

display:flex;
justify-content:space-between;
align-items:center;

margin-top:14px;

}



/* переключатель */

.switch{

display:flex;

background:#1a1a1d;

border-radius:12px;

overflow:hidden;

}



.switch-btn{

border:none;
background:none;

padding:8px 14px;

color:#aaa;

}



.switch-btn.active{

background:#e8c66a;
color:#000;

}



/* процент */

.progress{
opacity:0.8;
}