.leaderboard-title{

font-size:28px;
font-weight:700;
margin-bottom:20px;
text-align:center;

}

.leader-left{
    display:flex;
    align-items:center;
    gap:10px;
}

.leader-avatar{
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit:cover;
    border:1px solid rgba(255,255,255,0.1);
}

/* строка игрока */

.leader-row{

display:flex;
align-items:center;
justify-content:space-between;

background:linear-gradient(
180deg,
rgba(40,40,45,0.8),
rgba(20,20,25,0.8)
);

border-radius:16px;

padding:14px 16px;
margin-bottom:12px;

transition:0.2s;

}

.leader-row:hover{

transform:scale(1.02);

}

/* выделение пользователя */

.my-row{

border:2px solid #FFD700;

background:linear-gradient(
180deg,
rgba(255,215,0,0.15),
rgba(40,40,45,0.8)
);

}

/* квадрат позиции */

.rank{

width:36px;
height:36px;

border-radius:10px;

display:flex;
align-items:center;
justify-content:center;

font-weight:700;
font-size:16px;

background:#1f1f23;
color:white;

}

/* 🥇 */

.rank.gold{

background:linear-gradient(
180deg,
#ffd95a,
#d4a400
);

color:#000;

}

/* 🥈 */

.rank.silver{

background:linear-gradient(
180deg,
#e5e5e5,
#9f9f9f
);

color:#000;

}

/* 🥉 */

.rank.bronze{

background:linear-gradient(
180deg,
#e0a96d,
#8c4a1e
);

color:#000;

}

/* имя */

.leader-name{

flex:1;
margin-left:12px;

font-weight:600;
font-size:16px;

}

/* XP */

.leader-xp{

margin-right:10px;
font-weight:600;

}

/* кубок */

.leader-cup{

font-size:20px;

}

/* разделитель */

.leader-divider{

text-align:center;
margin:10px;
opacity:0.4;

}