body{
background:#0b0b0c;
color:#fff;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
margin:0;
overflow:hidden;
height:100vh;
}

/* главный контейнер */

.container{
max-width:420px;
margin:auto;

height:100vh;

display:flex;
flex-direction:column;

padding-bottom:72px;

box-sizing:border-box;

overflow:hidden;   /* ДОБАВИТЬ */
}

/* =========================
PAGES
========================= */

.page{

flex:1;

display:none;

flex-direction:column;

height:100%;

overflow:hidden;

visibility:hidden;

}

.page.active{

display:flex;

visibility:visible;

}


/* =========================
SCROLL CONTAINER
========================= */

.page-content{

flex:1;

overflow-y:auto;

min-height:0;

padding:14px;

}