body{
background:#0b0b0c;
color:#fff;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
margin:0;
height:100vh;
}

/* главный контейнер */

.container{
max-width:420px;
margin:auto;

height:100vh;

display:flex;
flex-direction:column;

padding-bottom:72px; /* место под навигацию */
box-sizing:border-box;
}

/* страницы */
#dashboard-page,
#leaderboard-page,
#chat-page{

flex:1;

display:flex;
flex-direction:column;

height:100%;

overflow:hidden;

}

.page-content{

flex:1;

overflow-y:auto;

padding:14px;

}