body{

background:#0b0b0c;
color:#fff;

font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;

margin:0;

}

.container{

max-width:420px;
margin:auto;
padding:20px;

}

.title{

text-align:center;
font-size:22px;
margin-bottom:20px;

}

.habits{

display:flex;
flex-direction:column;
gap:16px;

}

/* карточка привычки */

.habit-card{

background:#1a1a1d;

border-radius:18px;

padding:16px;

display:flex;
justify-content:space-between;
align-items:center;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

}

/* текст */

.habit-info{

display:flex;
flex-direction:column;
gap:6px;

}

.habit-name{

font-size:17px;
font-weight:600;

}

.habit-streak{

font-size:13px;
opacity:0.7;

}

/* график */

.habit-chart{

width:120px;
height:60px;

}

canvas{

width:100% !important;
height:100% !important;

}



/* МЕНЮ НАВИГАЦИЯ */

.bottom-menu{

position:fixed;
bottom:0;
left:0;
right:0;

height:70px;

background:#0f1115;

display:flex;
justify-content:space-around;
align-items:center;

border-top:1px solid #1f2329;

z-index:100;

}

.menu-item{

display:flex;
flex-direction:column;
align-items:center;

color:#8b8f97;
font-size:12px;

}

.menu-icon{

font-size:22px;
margin-bottom:4px;

}

.menu-item.active{

color:#e8c66a;

}


/* =========================================
   HEADER + КАЛЕНДАРЬ
   ========================================= */

.header{
margin-bottom:28px;
}

.header-top{
display:flex;
justify-content:space-between;
align-items:center;
}

.header-title{
font-size:40px;
font-weight:800;
letter-spacing:0.5px;
}

.header-settings{
font-size:26px;
opacity:0.85;
}

/* строка месяц + дни */

.header-calendar{

margin-top:18px;

display:flex;
justify-content:space-between;
align-items:flex-end;

}

/* месяц */

.header-month{

font-size:28px;
font-weight:700;

}

/* контейнер дней */

.week-days{

display:flex;
gap:18px;

}

/* день */

.day{

width:36px;

text-align:center;

opacity:0.6;

}

/* число */

.day-number{

font-size:20px;
font-weight:700;

width:36px;
height:36px;

display:flex;
align-items:center;
justify-content:center;

border-radius:50%;

margin-bottom:4px;

}

/* день недели */

.day-name{

font-size:12px;
opacity:0.7;

}

/* сегодня */

.day.today{

opacity:1;

}

.day.today .day-number{

background:rgba(255,255,255,0.12);
color:#fff;

}

.day.today .day-name{

color:#fff;

}