.challenge-path{
    display:flex;
    align-items:center;

    overflow-x:auto;
    overflow-y:hidden;

    gap:10px;
    margin-top:12px;

    padding-bottom:6px;

    scrollbar-width:none;
    position:relative;
}

.challenge-path::-webkit-scrollbar{
    display:none;
}

/* 🔥 лёгкий градиент справа (намёк на скролл) */
.challenge-path::after{
    content:"";
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:20px;

    background:linear-gradient(
        to right,
        transparent,
        rgba(18,22,27,1)
    );

    pointer-events:none;
}